html, body {
    height: 100%;
    scroll-behavior: smooth;
  }
  background{
    background-color: #8fa7d6;
  }
  body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }
  section {
    scroll-snap-align: center;
  }